body{
    background-color: aliceblue;
}

.main-content{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.background-image > img{
    height: 700px;
    width: auto;
    border-radius: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.name, .email-phone, .password{
    display: flex;
    justify-content: space-around;
}

.content-one{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.content-two{
    margin-left: 40px;
}

.content-three{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 32px;
}

input{
    padding: 8px;
    width: 300px;
    box-sizing: border-box;
    margin: 10px;
}

button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    color: aliceblue;
    font-weight: 700;
    background-color: #596D48;
}

.old-user{
    display: flex;
    font-size: 22px;
    gap: 2px;
}

a{
    text-decoration: none;
    color: #596D48;
}

.logo{
    display: flex;
    gap: 32px;
    align-items: center;
    position: relative;
    top: -600px;
    margin-left: 32px;
}

.logo > img{
    height: 150px;
    width: auto;
}

.logo-name{
    font-family: 'Norse bold';
    font-size: 50px;
    font-weight: 700;
    color: aliceblue;
}



